@charset "Utf-8";

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#logo {
    width: 130px;
    margin-left: 50px;
}

nav {
    width: 50%;
}

nav>ul {
    display: flex;
    align-items: center;
}

.main_menu {
    width: 80px;
    height: 60px;
    margin: 0 auto;
    font-size: 18px;
    letter-spacing: -0.025em;
    cursor: pointer;
    box-sizing: border-box;
}

.main_menu a {
    display: block;
    margin-top: 21px;
    text-align: center;
}

.main_menu:hover {
    font-weight: 600;
    border-bottom: 3px solid #000;
}

.utility {
    font-size: 20px;
}

.utility i {
    margin-right: 50px;
    color: #4477be;
    cursor: pointer;
}

.search {
    width: 100%;
    height: 340px;
    background-color: #f7f7f7;
    position: fixed;
    top: 60px;
    display: none;
}

.typing_search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.search #search_icon {
    font-size: 20px;
    position: absolute;
    left: 29.6%;
}

.search input {
    width: 550px;
    height: 55px;
    background-color: #f7f7f7;
    border: none;
    border-bottom: 2px solid #4477be;
    font-size: 17px;
    padding-left: 42.5px;
}

input::placeholder {
    color: #ccc;
}

input:focus {
    outline: none;
}

.search button:nth-of-type(1) {
    border: none;
    background-color: #f7f7f7;
}

.search #x_icon {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    position: absolute;
    top: 108px;
    right: 40.5%;
}

.search button:nth-of-type(2) {
    width: 180px;
    height: 55px;
    background-color: #000;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.recommand {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    padding-top: 20px;
}

.recommand h2 {
    font-size: 17px;
    font-weight: 400;
    margin-right: 20px;
}

.recommand a {
    border: 1px solid #ccc;
    padding: 4px 12px;
    margin: 10px 10px 0 0;
    transition: border-color 0.2s, color 0.2s;
}

.recommand a:hover {
    border-color: #79a3dc;
    color: #4477be;
}

.sub_menu {
    width: 100%;
    height: 50px;
    background-color: #f7f7f7;
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #ddd;
    z-index: 1;
    display: none;
}

.sub_menu a {
    margin: 0 20px 0 20px;
    letter-spacing: -0.025em;
    cursor: pointer;
}

.sub_menu a:hover {
    font-weight: 600;
}

.slide_box {
    width: 400vw;
    transition: all ease-in-out 0.8s;
}

.slide {
    width: 100vw;
    height: 600px;
    float: left;
    background-position: center;
    background-size: cover;
}

.slide_text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.slide_text .new {
    width: 40px;
    height: 20px;
    background-color: #4477be;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.slide_text h2 {
    font-size: 46px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0px 20px 0px;
    font-family: 'GmarketSansLight';
}

.slide_text p {
    font-size: 22px;
    color: #fff;
}

.slide1 {
    position: relative;
    background-image: url(https://assets-cdn.shureweb.eu/damfiles/portal_slider/global/home-page/Interconnected_AONIC40_Black_01_JacobCollier_Original.jpg-7152a32aa9317542990d66df2dd701f1.jpg);
}

.slide2 {
    position: relative;
    background-image: url(https://assets-cdn.shureweb.eu/damfiles/portal_slider/global/home-page/MV7_Vocalist_Silver_XLR_Mic_Stand_2_1920x1195.jpg-55e65ebe2dd19bc31d8ccefb0738b3a3.jpg);
}

.slide3 {
    position: relative;
    background-image: url(https://assets-cdn.shureweb.eu/damfiles/portal_slider/global/hp/heroes/MCFE_Pair-4_MXA310-MXW8_1920x1195.jpeg-9a4fa773daacc4efea535cbbf5292546.jpeg);
}

.slide4 {
    position: relative;
    background-image: url(https://assets-cdn.shureweb.eu/damfiles/portal_slider/global/hp/slider/slide_allProducts_3840x2390.jpg-6d4a940e3accad99e4d51f0450f2abe3.jpg);
}

.slide_btn_box {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide_btn_box .prev,
.slide_btn_box .next {
    background: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.slide_btn_box button {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50px;
    margin: 0px 8px 0px 8px;
    background-color: #fff;
    cursor: pointer;
}